// sass-lint:disable no-color-keywords

// Colours
// ----------

// Grayscale
$white: #fff;
$black-10: darken($white, 10%);
$black-20: darken($white, 20%);
$black-30: darken($white, 30%);
$black-40: darken($white, 40%);
$black-50: darken($white, 50%);
$black-60: darken($white, 60%);
$black-70: darken($white, 70%);
$black-80: darken($white, 80%);
$black-90: darken($white, 90%);
$black: #000;

// Beigescale
$beige-v-light: #eae6d9;
$beige-light: #dcd6c1;
$beige: #cec5a8;
$beige-dark: #c0b58f;
$beige-v-dark: #b3a577;

// Bluescale
$blue-v-light: #badcff;
$blue-light: #5faeff;
$blue: #0580ff;
$blue-dark: #0452a3;
$blue-v-dark: #022346;

// redscale
$red-v-light: #ffd8d2;
$red-light: #ffa496;
$red: #ff715b;
$red-dark: #a3483a;
$red-v-dark: #461f19;

// Social
$facebook: #3b5998;
$instagram: #3f729b;


// Global
// ---------

$global-font-size: 100%;
$global-lineheight: 1.5;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-duration: 700ms;
$global-timing-function: cubic-bezier(.8, 0, .55, .94);
$body-background: #f7f7f7;
$body-font-colour: $black;
$body-font-family: 'Plain', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font-size: $global-font-size;
$body-font-size-desktop: 18px;
$body-font-weight: 200;
$body-border-box: true;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;


// Base Typography
// ------------------

$header-font-family: 'Playfair Display', Cambria, Georgia, serif;
$header-font-weight: 200;
$header-font-style: normal;
$font-family-monospace: $font-family-monospace;
$header-color: $black;
$header-lineheight: 1.4;
$header-letter-spacing: .1em;
$header-margin-bottom: .5rem;
$h1-font-size: 2.441em;
$h2-font-size: 1.953em;
$h3-font-size: 1.563em;
$h4-font-size: 1.25em;
$h5-font-size: 1em;
$h6-font-size: .8em;
$x-small-font-size: 75%;
$small-font-size: 87.5%;
$large-font-size: 112.5%;
$x-large-font-size: 125%;
$font-size-min: 16;
$font-size-max: 18;
$paragraph-lineheight: 1.6;
$paragraph-margin-bottom: 1rem;
$anchor-color: $blue;
$anchor-color-hover: $blue;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: 100%;
$hr-border: .0625em solid $black-50;
$hr-margin: 1.25rem auto;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;


// Media Queries
// ----------------

// Extra small screen / phone
$screen-xs: 30em; // 480px

// Small screen / tablet
$screen-sm: 48em; // 768px

// Medium screen / desktop
$screen-md: 62em; // 992px

// Large screen / wide desktop
$screen-lg: 75em; // 1200px

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

$phone: 'only screen and (max-width: #{$screen-xs - 1})'; //- 480px
$mobile: 'only screen and (min-width: #{$screen-xs})'; //480px
$tablet: 'only screen and (min-width: #{$screen-sm})'; //768px
$desktop: 'only screen and (min-width: #{$screen-md})'; //992px
$screen: 'only screen and (min-width: #{$screen-lg})'; //1200px


// Brand
// --------

$brand-height: 4em;
$brand-link-color: $black;
$brand-link-color-hover: $blue;
$brand-link-color-active: $white;
$brand-font-size: $x-large-font-size;
$brand-font-family: $header-font-family;
$brand-font-weight: 200;


// Buttons
// ----------

$button-font-family: $header-font-family;
$button-letter-spacing: $header-letter-spacing;
$button-color: $white;
$button-background-color: $blue;
$button-color-hover: $button-color;
$button-background-color-hover: $blue-dark;
$button-border-color: $black-60;
$button-border-color-hover: $black-80;
$button-border: .125em solid $button-border-color;
$button-padding: .75em 2.5em;


// Close
// --------

$close-color: $black-30;
$close-color-hover: $white;
$close-width: 4em;
$close-height: $close-width;


// Hamburger
// ------------

$hamburger-link-color: $black;
$hamburger-link-color-hover: $blue;
$hamburger-link-color-active: $white;
$hamburger-font-family: $body-font-family;
$hamburger-font-size: $body-font-size;
$hamburger-font-weight: 200;


// Header
// ---------

$site-header-height-mobile: 4em;
$site-header-height-desktop: ($site-header-height-mobile * 1.5);
$site-header-width: 100%;
$site-header-background: $white;
$site-header-link-color: $black;
$site-header-link-color-hover: $white;
$site-header-link-background-hover: $black-80;
$site-header-font-size: $x-large-font-size;
$site-header-font-family: $header-font-family;
$site-header-font-weight: 200;
$site-header-text-decoration: none;
$site-header-padding: 0 1.15em;


// Navbar
// ---------

$navbar-font-family: $header-font-family;
$navbar-font-size: $body-font-size;
$navbar-font-weight: $header-font-weight;
$navbar-item-color: $black;
$navbar-item-color-hover: $black;
$navbar-item-1-background-hover: $black-60;
$navbar-item-1-background-active: $black-80;
$navbar-item-2-background-hover: $black-60;
$navbar-item-2-background-active: $black-80;
$navbar-link-padding: 0 1.25em;


// Content
// ----------

$content-width: 80em;


// Footer
// ---------

$footer-color: $black-30;
$footer-background: $white;
$footer-height-mobile: $site-header-height-mobile;
$footer-height-desktop: ($footer-height-mobile * 1.5);
$footer-font-size: $x-small-font-size;


// Forms
// --------

$form-label-font-family: $header-font-family;;
$form-label-font-size: $small-font-size;
$form-label-font-weight: $body-font-weight;
$form-input-font-family: $body-font-family;
$form-input-color: $black-10;
$form-input-background: $black-70;
$form-input-border-color: $black-70;
$form-input-border-hover: $black-60;
$form-input-border: .125em solid $form-input-border-color;
$form-input-padding: .75em 1em;
$form-field-spacing: 1.5em;


// Social
// ---------

$social-margin: 2em;
$social-icon-fill: $white;
$social-icon-spacing: 1em;


// Thumbnails
// -------------

$thumbnail-color: $white;
$thumbnail-background: $black;
$thumbnail-excerpt-color: $body-font-colour;
$thumbnail-excerpt-font-family: $header-font-family;
$thumbnail-excerpt-font-size:  $global-font-size;
$thumbnail-content-padding: 2em;
$thumbnail-hr-color: $thumbnail-color;


// Z-index
// ----------

$brand-zindex: 40;
$hamburger-zindex: $brand-zindex;
$site-header-zindex: 30;
$menu-zindex: 20;
$footer-zindex: -1;
$backtotop-zindex: $menu-zindex;

// sass-lint:disable no-color-keywords
