.footer {
  align-items: center;
  background-color: $footer-background;
  bottom: 0;
  height: $footer-height-mobile;
  left: 0;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: $footer-zindex;

  @media #{$tablet} {
    height: $footer-height-desktop;
  }

  .footer__social {
    border-bottom: 0;
    fill: $blue;
    margin-right: 1em;
  }

  .footer__content {
    align-items: center;
    display: inline-flex;
    height: inherit;
    margin-left: 5%;
    width: 90%;
  }

  .footer__copyright {
    color: $footer-color;
    font-size: $footer-font-size;
    margin-bottom: 0;
  }
}
