.form {
  .form__field {
    &,
    &[type='text'],
    &[type='email'] {
      background-color: transparent;
      border-color: $black;
      border-radius: 0;
      border-style: solid;
      border-width: 0 0 .125em;
      display: block;
      margin: 0;
      padding: .4em .25em;
      position: relative;
      width: 100%;

      &:focus  {
        border-color: $blue;
        outline: none;
      }
    }
  }

  > label {
    margin-bottom: 1em;
    text-align: left;

    &:nth-child(1) {
      float: left;
      margin-right: 2.5%;
      width: 47.5%;
    }

    &:nth-child(2) {
      float: left;
      margin-left: 2.5%;
      width: 47.5%;
    }
  }

  button {
    &.button {
      background-color: $button-background-color;
      border: 0;
      border-radius: 0;
      box-shadow: 0 4px 6px alpha($blue-v-dark, .11), 0 1px 3px alpha($black, .08);
      color: $button-color;
      cursor: pointer;
      font-family: $body-font-family;
      font-weight: $body-font-weight;
      outline: none;
      padding: .75em 2em;
      text-transform: uppercase;
      transition: background-color $global-duration ease, color $global-duration ease;
      width: auto;

      &:hover {
        background-color: $blue-dark;
        box-shadow: 0 7px 14px alpha($blue-v-dark, .1), 0 3px 6px alpha($black, .08);
      }

      &:active {
        background-color: $blue-v-dark;
        box-shadow: 0 4px 6px alpha($blue-v-dark, .11), 0 1px 3px alpha($black, .08);
      }
    }
  }

  .validation {
    color: $red;
    display: none;
    font-size: $x-small-font-size;
    margin-bottom: 0;
    margin-top: .25em;
  }
}
