.hamburger {
  background-color: transparent;
  border: 0;
  color: $hamburger-link-color;
  float: right;
  font-family: $hamburger-font-family;
  font-size: $hamburger-font-size;
  font-weight: $hamburger-font-weight;
  height: inherit;
  outline: none;
  padding: 0;
  position: relative;
  text-align: left;
  text-transform: initial;
  transition: color ($global-duration / 2) $global-timing-function;
  z-index: $hamburger-zindex;

  .menu-open & {
    color: $hamburger-link-color-active;
  }

  .header--dark & {
    color: $hamburger-link-color-active;
  }

  .header--dark:hover & { // sass-lint:disable-line force-pseudo-nesting
    .body:not(.menu-open) & { // sass-lint:disable-line force-pseudo-nesting
      color: $hamburger-link-color;
    }
  }

  &:hover,
  &:active {
    background-color: inherit;
  }

  .hamburger__icon {
    display: block;
    float: right;
    margin-left: 1.25em;

    .hamburger__line {
      background-color: $hamburger-link-color;
      display: block;
      height: .125em;
      margin-left: auto;
      margin-right: auto;
      transition: background-color ($global-duration / 2) $global-timing-function, transform ($global-duration / 2) $global-timing-function;
      width: 1.25em;

      &.hamburger__line--2 {
        margin-top: .4375em;
      }

      .menu-open & {
        background-color: $hamburger-link-color-active;

        &.hamburger__line--1 {
          transform: translate3d(0, .28em, 0) scale(1) rotate(45deg);
        }

        &.hamburger__line--2 {
          transform: translate3d(0, -.28em, 0) scale(1) rotate(-45deg);
        }
      }

      .header--dark & {
        background-color: $hamburger-link-color-active;
      }

      .header--dark:hover & { // sass-lint:disable-line force-pseudo-nesting
        .body:not(.menu-open) & { // sass-lint:disable-line force-pseudo-nesting
          background-color: $hamburger-link-color;
        }
      }
    }
  }
}
