.mouse {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll-down;
  animation-timing-function: ease-in-out;
  background-color: transparent;
  border: 0;
  bottom: 2em;
  display: none;
  left: 5%;
  outline: none;
  padding: 0;
  position: absolute;

  &.is-visible {
    display: block;
  }
}
