.scroll-to-top {
  background-color: transparent;
  border: .125em solid $black;
  border-radius: 0;
  bottom: .75em;
  cursor: pointer;
  height: 2em;
  opacity: 0;
  outline: none;
  position: fixed;
  right: 5%;
  transform: translate3d(1em, 0, 0);
  transform-origin: 50% 100%;
  transition: opacity 200ms ease-out, transform 200ms ease-out;
  width: 2em;
  z-index: $backtotop-zindex;

  @media #{$mobile} {
    height: 2.5em;
    width: 2.5em;
  }

  @media #{$tablet} {
    bottom: 1.75em;
  }

  .icon {
    animation-duration: 1.35s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: block;
    fill: $black;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    .icon {
      animation-name: scroll-up;
    }
  }

  &.is-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
