@font-face {
  font-family: 'Plain';
  font-weight: 100;
  src: url('./assets/fonts/Plain-Ultralight.otf');
}

@font-face {
  font-family: 'Plain';
  font-weight: 200;
  src: url('./assets/fonts/Plain-Light.otf');
}

@font-face {
  font-family: 'Plain';
  font-weight: 300;
  src: url('./assets/fonts/Plain-Regular.otf');
}

@font-face {
  font-family: 'Plain';
  font-weight: 400;
  src: url('./assets/fonts/Plain-Medium.otf');
}
