.global-icons {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.icon,
%icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;

  > * {
    fill: inherit;
  }
}

.icon--xs,
%icon--xs {
  height: .5rem;
  width: .5rem;
}

.icon--sm,
%icon--sm {
  height: 1rem;
  width: 1rem;
}

.icon--md,
%icon--md {
  height: 1.5rem;
  width: 1.5rem;
}

.icon--lg,
%icon--lg {
  height: 2rem;
  width: 2rem;
}

.icon--xl,
%icon--xl {
  height: 2.5rem;
  width: 2.5rem;
}
