// Headings
// -----------

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
  line-height: ($header-lineheight / 1.1);

  @media #{$tablet} {
    line-height: $header-lineheight;
  }
}

h1 {
  font-family: $header-font-family;
  font-size: $h1-font-size;
  font-weight: $header-font-weight;
  margin-bottom: ($header-margin-bottom * 2.5);
}

h2 {
  font-family: $header-font-family;
  font-size: $h2-font-size;
  font-weight: $header-font-weight;
  margin-bottom: ($header-margin-bottom * 2.5);
}

h3 {
  font-size: $h3-font-size;
  font-weight: $header-font-weight;
  margin-bottom: ($header-margin-bottom * 2.5);
}

h4 {
  font-family: $header-font-family;
  font-size: $h4-font-size;
  font-weight: $body-font-weight;
  margin-bottom: $header-margin-bottom;
}

h5 {
  color: $black-30;
  font-family: $header-font-family;
  font-size: $h5-font-size;
  font-weight: $body-font-weight;
  margin-bottom: $header-margin-bottom;
}

h6 {
  color: $black-30;
  font-family: $header-font-family;
  font-size: $h6-font-size;
  font-weight: $body-font-weight;
  margin-bottom: $header-margin-bottom;
}

p {
  margin-top: 0;
}

hr {
  background-color: $body-font-colour;
  border: 0;
  display: block;
  height: .125em;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 100%;
}

// Additional sizes
// -------------------

.x-small,
%x-small {
  font-size: $x-small-font-size;
}

.small,
%small {
  font-size: $small-font-size;
}

.large,
%large {
  font-size: $large-font-size;
}

.x-large,
%x-large {
  font-size: $x-large-font-size;
}

// Subscripts & Superscripts
// ----------------------------

sub,
sup {
  font-size: $x-small-font-size;
}

sub {
  bottom: -.3em;
}

sup {
  top: -.6em;
}

// Links
// --------

a {
  border-bottom: .09375em dashed $anchor-color;
  color: $anchor-color;
  outline: none;
  padding-bottom: .0625em;
  text-decoration: $anchor-text-decoration;
  transition: color ($global-duration / 2) ease;

  &:active,
  &:focus,
  &:hover {
    border-bottom: 0;
    color: $anchor-color-hover;
    outline: inherit;
    text-decoration: $anchor-text-decoration-hover;
  }
}
